
<div class="row">
    <div class="form-group col-md-3">
        <label>Descripcion</label>
        <input class="form-control" id="txtDescr" type="text" name="descripcion" value="" />
    </div>
    <div class="form-group  col-md-2">
        <label>Tipo de Producto</label>
        <select id="selectTipoProducto" class="form-control"></select>
    </div>
    <div class="col-md-3">
        <div style="margin-top:25px;">
            <button input id="btnSearch" type="submit" value="Buscar" class="btn btn-success" data-loading-text="Buscando" data-toggle="tooltip" data-placement="right" title="Buscar Productos" onclick="search();">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
    </div>
</div>

<div id="list"></div>

<script type="text/javascript" src="~/Scripts/onlyNumeric.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

    $.ajax({
        type: "POST",
        url: "/TipoProductoes/List",
        contentType: "application/json; charset=utf-8",
        dataType: "html",
        success: function (data) {
            var resultado = JSON.parse(data);
            $.each(resultado, function (key, registro) {
                $("#selectTipoProducto").append('<option value=' + registro.id + '>' + registro.descripcion + '</option>');
            });
        },
        failure: function (response) {
            alert(response.responseText);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });

    function search() {
        var viewModel = {
            Descripcion: $("#txtDescr").val(),
            TipoProducto: $("#selectTipoProducto").val()
        };
        $("#btnSearch").button("loading");

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            url: "/Productoes/SearchMassiveEdit",
            dataType: "html",
            data: JSON.stringify(viewModel),
            success: function (response) {
                $('#list').html(response);
                $("#btnSearch").button("reset");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>