@model List<MVCBlog.Core.Entities.Pedido>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Lista de Pedidos</h1>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Creado
            </th>
            <th>
                Estado
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.TotalCharge)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
