@model MVCBlog.Website.Models.OutputModels.Blog.IndexModel

@{
    Layout = "~/Views/Shared/Sidebar.Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
</head>
<body>
    <div class="col-md-3">

        <h3 id="carritoUsuario" usuario-id="@Model.UsuarioId" class="side-heading"><i class="fa fa-shopping-cart"></i> Mi carrito</h3>
        <div id="carritoPartialView"></div>
        <hr>
        @Html.DropDownListFor(model => model.Productos, ((IEnumerable<MVCBlog.Core.Entities.Producto>)ViewBag.PossibleCC).Select(option => new SelectListItem
        {
        Text = String.Format("{0}", option.Description),
        Value = option.Id.ToString(),
        }), "Todos", new { @class = "selectpicker", @data_live_search = "true" })
        <hr>

        <h3 class="side-heading">Categorías</h3>
        <div class="list-group">

            <a href="#" class="list-group-item list-group-item-action"><strong> Mostrar todos</strong></a>

            @{
                foreach (var tp in Model.TiposProductos)
                {
                    <a href="#" class="list-group-item list-group-item-action" data-id="@tp.Id"> <i class="glyphicon glyphicon-chevron-right"></i> @tp.Description</a>
                }
            }
        </div>

    </div>

    <div class="col-md-9">


        <div>
            <div id="list"></div>
        </div>
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>

    <script type="text/javascript">

        $('.my-select').selectpicker();


        $.ajax({
            type: "POST",
            url: "/Productoes/List",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                try {
                    var resultado = JSON.parse(data);
                    $("#seed_one").autocomplete({
                        source: resultado,
                        minLength: 3,
                        delay: 100
                    });

                } catch (err) {
                }
            }
        });

    </script>

    <script type="text/javascript">

        $.ajax({
            type: "POST",
            url: "/CarritoCompras/Grill",
            contentType: "application/json; charset=UTF-8",
            dataType: "html",
            success: function (response) {
                $('#list').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $.ajax({
            type: "POST",
            url: "/CarritoCompras/GetPedidoPendiente",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#carritoPartialView').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    </script>

</body>
</html>

<script>
    $(document).ready(function () {
        $('.list-group-item').on('click', function () {
            var id = $(this).attr('data-id');

            $.ajax({
                type: "POST",
                url: "/CarritoCompras/Grill",
                data: '{idTipoProd: "' + id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#list').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });
    });
</script>

<style>
    .side-heading {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 12px 20px;
        color: #ec2f2f;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        background: #fff;
        border: 1px solid #e4e4e4;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .price {
        padding-right: 5px;
        color: #ec2f2f;
        font-size: 24px;
    }

    .btn-main {
        background-color: #ec2f2f;
    }

    .btn-black {
        background-color: #303030;
    }

        .btn-black:hover,
        .btn-black:focus,
        .btn-black:active,
        .btn-black.active {
            background-color: #ec2f2f;
        }

    .btn-main:hover,
    .btn-main:focus,
    .btn-main:active,
    .btn-main.active {
        background-color: #303030;
    }

    .btn-black,
    .btn-black:hover,
    .btn-black:focus,
    .btn-black:active,
    .btn-black.active,
    .btn-main,
    .btn-main:hover,
    .btn-main:focus,
    .btn-main:active,
    .btn-main.active {
        color: #fff;
    }
</style>
